.paymentFormButton {
  margin-top: 2rem;
  width: 100%;
}

.formWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 2rem
}

.formRow {
  display: flex;
}

.formRow > :first-child {
  margin-right: 1rem;
}


