.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.pictureContainer {
  flex: 1;
  background-image: url('background.jpg');
  background-color: #cccccc;
  background-size: 110%;
  background-repeat: no-repeat;
  padding: 8rem 4rem;
  text-align: right;
}

.subtitle {
  font-size: 3rem; 
  color: white;
}

.title {
  font-size: 6rem; 
  color: white;
}

.loginContainer {
  flex: 1;
  padding: 10rem 4rem;
}

.loginTitle {
  font-size: 1.5rem; 
  color: #343434; 
  font-weight: bold;
}
